html, body {
    margin: 0;
}
#file{
    display: none;
}
#file-custom {
    height: fit-content;
    border: 2px dashed #aaa;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #aaa;
}
#file-custom:hover {
    border: 2px dashed #777;
    color: #777;
}
p{
    font-size: 1.2rem;
    color: #666;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.import {
    bottom: 10px;
    left: 10px;
}
.UI > div {
    position: fixed;
}